{% extends 'base.html' %}

{% block content %}

<h1>Scan a QR</h1>
<div class="container">
    <form action="scan" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-dark" value="Scan Now">
    </form>
</div>

<h1>Add a new item</h1>
<form action="add" method="post">
    {% csrf_token %}
    <div class="mb-3">
        Name of the item: <input type="text" name="name">
    </div>
    <div class="mb-3">
        Price of the item: <input type="text" name="price">
    </div>
    
    <input type="submit" class="btn btn-primary">
</form>

<!-- <h1>Upload and Scan</h1>
<form action="upload_and_scan" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
</form> -->

<style type="text/css">

h1 {
        color: black;
        font-family: arial;
    }

</style>

{% endblock %}